@media all and (max-width: 480px) {
.img-box{
	column-count:4;
	column-gap:0;
}
.image{
	max-width:100%;
	display:block;
}
.image + .image {
	margin:5px;
}
div{
	width:70%;
	height:auto;
	margin:auto;
}
.image-wrapper {
	display: block;
	opacity: 0.95;
	transition: 0.4s;
}
.image-wrapper + .image-wrapper {
	margin: 3px 0;
}
@media all and (min-height: 1200px) {
.image-wrapper:hover {
	opacity: 1;
	filter: sepia(1.3)
}
.img_link{
	display:block;
    opacity:0.94;
    margin: 5px;
    transition: opacity 0.4s ease, transform 0.2s ease-in, box-shadow 0.3s ease-out ;
}
.img_link:hover{
	opacity: 1;
	transform: scale(1.2) rotate(7deg);
	 z-index:10;
	 box-shadow:0 0 20px 39px rgba(0,0,0,0.4);
}
